<!DOCTYPE html>

<head>
    <title>Joshua Burns</title>
        <h1>Joshua Burns</h1><br>
        <img src="./photo.jpeg" alt="photo of Joshua"><br>
        <p>Some of my hobbies include: playing guitar, collecting guitar pedals, collecting vinyl records, studying Japanese, exercising, learning about esoteric mysticism.</p>
</head>

<body>
    <main>
        <h2>Contact</h2>
            <p>314-779-6040<br>
            shepyoto@gmail.com<br>
            <a href="https://github.com/joshua-desu/">Github</a></p>
        
        <h2>Work History</h2>
            <p><b>Experience.com</b> - Tech Support Lead<br>
                <b>Thomson Reuters</b> - Tech Support<br>
                <b>Stericycle</b> - Tech Support</p>
        
        <h2>Education</h2>
            <p><b>University of Missouri</b><br>
            <b>Southern New Hampshire University</b><br>
            <b>TrueCoders</b></p>

        <h2>Random</h2>
            <p>I have a pet rabbit.</p>

        <h2>Additional Info</h2>
            <p>I am technically a member of MENSA.</p>

    </main>
</body>