@import url(./index.css);

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.cards-item {
  flex-basis: 100%;
  padding-left: 8px;
  padding-right: 8px;
  /* border: 1px solid white; */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: 0.4s ease-in-out transform, 0.3s ease-in-out box-shadow;
}

.cards-item:hover {
  transform: translate3d(0px, -16px, 0px);
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}

.avatar {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.avatar-image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.social-link {
  stroke: var(--tc-secondary);
}

.social-link:hover {
  stroke: #eee;
}

@media only screen and (min-width: 768px) {
  .cards-item {
    flex-basis: 25%;
  }
}
